@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --htextfamily: "Poppins";
}

body {
  background-color: #202125;
}
/* Header */
.navbar {
  background-color: #323439 !important;
  /* overflow: hidden;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%; */
}

.nav_list {
  margin-left: 3rem;
}

.nav-item {
  margin: 0 1rem;
}
.navbar .nav-item a,
h4 {
  color: #cae962;
}

a {
  text-decoration: none;
  color: rgb(30, 27, 27);
}

.link {
  text-decoration: none;
  color: #555;
  font-family: var(--htextfamily);
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: block;
  transition: 0.5s;
}

.link_active {
  color: #000000;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}

.form-control {
  border: 2px black;
}

.input-gp {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
}

.form-control:focus {
  box-shadow: none;
}

.input-group-append .btn-link:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

/* Card */
.card__Img {
  margin-top: 10px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card__main:hover {
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  opacity: 0.5;
}
.card__main {
  width: 145px;
  border: none;
  background-color: #90becd;
}

.container__main {
  display: flex;
  justify-content: center;
}

.container__total {
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: left;
}

.card-body {
  padding: 1rem 2px;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* detail */
.container {
  margin-top: 150px;
}

p {
  color: #fff;
}
.all__ep {
  width: 50rem;
  margin-left: 400px !important;
}

.btn__ep:hover {
  background-color: rgb(4, 142, 4);
}

a:hover {
  color: black;
}

.genres_box {
  background-color: #d7816a;
  background-image: linear-gradient(315deg, #d7816a 0%, #bd4f6c 74%);
  color: white;
  border-radius: 10px;
}

@media (max-width: 576px) {
  .show {
    padding-bottom: 10px;
  }

  .container__main {
    width: 100%;
  }
  .container__total {
    display: flex;
    justify-content: center;
  }

  .nav_list {
    margin-left: 0;
    align-items: center;
    margin-top: -20px;
  }

  .nav-item {
    padding: 5px 0px;
  }

  .input-gp {
    margin-right: auto;
    width: 180px;
  }
  .form-control,
  .btn-link {
    padding: 0;
  }
}
